{% extends "base.html" %}
{% block sub_content %}

<section id="learn" class="p-5">
      <div class="container">
            <h2 class="my-5">Добро пожаловать на страницу "О проекте"!</h2>
        <div class="row align-items-center justify-content-between">
          <div class="col-md flex-grow-2">
            <img class="img-fluid" src="https://res.cloudinary.com/practicaldev/image/fetch/s--r10Wqwgx--/c_imagga_scale,f_auto,fl_progressive,h_900,q_auto,w_1600/https://dev-to-uploads.s3.amazonaws.com/i/dqp671yvrtnnt7zmzn3z.png" />
          </div>
          <div class="col-md p-5 flex-grow-1">

<p>Приветствую вас на веб-сайте, созданном в рамках моей выпускной работы
    в ходе обучения на курсе программирования Python,
    организованном компанией "Профессионал плюс". Этот проект — результат
     работы и знаний, приобретенных мной в течение курса.
<br>
<b>Описание проекта:</b>
Данный веб-сайт разработан с использованием современного фреймворка Flask,
что обеспечивает его высокую производительность и гибкость.
Flask — это отличный выбор для создания веб-приложений на языке программирования
Python, и мой проект — еще один пример его эффективного использования.
</p>
</div>
<p>
<b>Цель проекта:</b>
Основной целью этого проекта является продемонстрировать навыки и знания,
полученные в ходе обучения на курсе. Веб-сайт создан с учетом практик
разработки, а его функциональность нацелена на удовлетворение потребностей
пользователей.
</p>
<p>
<b>Организатор обучения:</b> "Профессионал плюс":
"Профессионал плюс" — компания, предоставляющая качественное обучение в
сфере программирования. Этот курс Python является частью широкого спектра
образовательных программ, предлагаемых компанией.
</p>
<p>
<b>Благодарность:</b>
Выражаю благодарность "Профессионал плюс" за предоставленные знания и
возможность обучения на их курсах. Также хочу выразить признательность всем
преподавателям, которые делились своим опытом и знаниями в течение обучения.
</p>
<p>
Благодарю вас за посещение моего сайта! Надеюсь, что вы найдете здесь
интересную и полезную информацию. Если у вас есть вопросы или предложения,
не стесняйтесь связаться со мной (например, через форму обратной связи).
</p>
<p>
С уважением,
Сергей Попов.
</p>

<a href="/feedback" class="btn btn-primary mt-3">
              <i class="bi bi-chevron-right"></i> Написать что-то...
</a>


        </div>
      </div>
    </section>

{% endblock sub_content %}