{% extends "base.html" %}
{% block sub_content %}

<br>

<div class="my-5 d-flex justify-content-center">
  <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#feedback">Напишите отзыв</button>
</div>
<div class="container">
 


    {% for comment in comments|reverse %}
    <div class="card mb-3">
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>{{comment.text | safe}}</p>
      <footer class="blockquote-footer">Написано: <cite title="Source Title">{{comment.name | safe}} <br> Дата: {{comment.created_at}}</cite></footer>
    </blockquote>
    </blockquote>
  </div>
</div>
{% endfor %}
</div>

<div class="modal fade" id="feedback" tabindex="-1" role="dialog" aria-labelledby="feedbackLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-light text-dark">
        <h5 class="modal-title text-center" id="feedbackLabel">Оставьте отзыв! <br>
          Ну или просто что-то хорошее напишите...</h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method='POST' action={{url_for('feedback')}}>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Имя: </label>
            <input required type="text" class="form-control" name='name' id="recipient-name">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Текст: </label>
            <textarea class="form-control" name="text" id="message-text"></textarea>
          </div>
          <div class='text-center'>
            <button type="submit" class="btn btn-success">Отправить</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
       
      </div>
    </div>
  </div>
</div>

<script>
    $('#feedback').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var recipient = button.data('whatever') // Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this)
  modal.find('.modal-title').text('New message to ' + recipient)
  modal.find('.modal-body input').val(recipient)
})
</script>
{% endblock sub_content %}